TWITTER_CONSUMER_KEY =
TWITTER_CONSUMER_SECRET =

MONGO_DBNAME =
MONGO_URI = 'mongodb://localhost:27017/{}'.format(MONGO_DBNAME)

CELERY_BROKER_URL = 'redis://localhost:6379/0'
CELERY_RESULT_BACKEND = CELERY_BROKER_URL
